@page "/"

<PageTitle>Home</PageTitle>

<FluentLabel Typo="Typography.H1">Welcome to IoT-Cloud</FluentLabel>

<FluentLabel Style="margin-top: 1em;" Typo="Typography.Body">
    This Blazor application is intended to used as a monitoring service for your different IoT devices/sensors.
</FluentLabel>

<FluentLabel Style="margin-top: 1em;" Typo="Typography.Body">
    There are five supported reading types: Distance, Humidity, Luminosity, Temperature, and Velocity + binary values for these reading types.
</FluentLabel>

<FluentLabel Style="margin-top: 1em;" Typo="Typography.Body">
    Detailed instructions on how to start using the service and sending data, visit my GitHub <a href="https://github.com/paavkar/IoTCloud">repository.</a>
</FluentLabel>
